name: Swift

on:
  pull_request:
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: macos-11.0

    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '12.5'
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
